:root {
  --light-blue: #81B3D2;
  --blue: #669EC0;
  --dark-blue: #5496bd;

  --extra-light-brown: #766357;
  --light-brown: #766357;
  --brown: #604E43;
  --dark-brown: #503E33;

  --dark: #000000;
  --light-black: rgba(0, 0, 0, 0.3);
  --lighter-black: rgba(0, 1, 1, 0.2);
  --extra-light-black: rgba(0, 1, 1, 0.15);
  --dark-gray: #333333;
  --gray: #666666;
  --bright: rgba(255, 255, 255, 0.3);
  --light-gray: #888888;
  --pale-gray: #ABABAB;
  --lighter-gray: #BDBBBC;
  --extra-light-gray: #EEEEEE;
  --bright-grey: #E5E5E5;
  --dark-light: #EBEBEB;
  --light: #FFFFFF;
  --extra-light: #F2F2F2;
  --extra-bright: rgba(255, 255, 255, 0.9);


}

body {
  min-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.page {
  height: 100%;
}

.page-body {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--extra-light);
}

.body-wrapper {
  box-shadow: 0 5px 15px var(--lighter-black);
  width: 1280px;
}

.main-navigation a,
.footer-phone,
.social-button a,
.footer-logo a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*header start*/

.main-header {
  background-color: var(--light);
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  color: var(--dark);
}

.main-header-logo {
  position: absolute;
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 15px 0;
  padding: 0;
}

.site-navigation-item {
  width: 25%;
  box-sizing: border-box;
}

.site-navigation-right {
  text-align: right;
}

.site-navigation-edge-left {
  padding-left: 72px;
}

.site-navigation-edge-right {
  padding-right: 72px;
  box-sizing: border-box;
}

.site-navigation a {
  color: var(--dark);
}

.site-navigation a:hover {
  color: var(--light-blue);
}

.site-navigation a:active {
  color: var(--light-black);
}

.site-navigation a.current {
  color: var(--extra-light-brown);
}

/*header end*/

.main-photo-sedona {
  display: grid;
  background-image: url("../img/photo-sedona.jpg");
  background-repeat: no-repeat;
  height: 509px;
  position: relative;
}

.main-photo-sedona::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 57px;
  width: 100%;
  background-image: url("../img/shape-sedona.svg");
}

.main-photo-sedona img {
  width: 456px;
  margin: auto;
}

/*features start*/

.features {
  display: grid;
  text-align: center;
  background-color: var(--light);
}

.features h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--dark);
  margin-top: 42px;
  margin-bottom: 46px;
}

.features p {
  color: var(--dark-gray);
  margin: 0;
}

.features-list {
  width: 1200px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 256px auto;
  margin: 0;
  padding: 55px 0 0 0;
}

.feature-item-city {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;
}

.feature-item-bridge {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.main-feature-item {
  background-color: var(--light-blue);
}

.main-feature-item h2 {
  font-weight: 700;
  font-size: 21px;
  color: var(--light);
}

.main-feature-item-description {
  padding-top: 48px;
}

.main-feature-item-description h2 {
  margin: 0;
}

.main-feature-item-description p {
  color: var(--light);
  margin: 26px 50px;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / -1;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

.service-item {
  display: grid;
  position: relative;
  padding-top: 160px;
  padding-bottom: 83px;
}

.service-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--dark);
  margin: 0;
  padding-bottom: 25px;
}

.service-item::before {
  content: "";
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.service-item-home::before {
  background-image: url("../img/icon-house.svg");
  width: 75px;
  height: 72px;
}

.service-item-food::before {
  background-image: url("../img/icon-food.svg");
  width: 75px;
  height: 70px;
}

.service-item-gifts::before {
  background-image: url("../img/icon-gifts.svg");
  width: 64px;
  height: 77px;
}

.description {
  color: var(--dark-gray);
}

.feature-item {
  text-align: center;
  background-color: var(--extra-light-gray);
  padding: 47px 0 54px 0;
}

.description + .description {
  margin: 23px 0 0 0;
}

.feature-item h2 {
  font-weight: 700;
  font-size: 21px;
  color: var(--dark);
  margin: 0 0 28px 0;
}

/*features end*/

/*search start*/

.search {
  text-align: center;
  line-height: 24px;
  padding: 56px 0 0 0;
  background-color: var(--light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-hotels h2 {
  display: none;
}

.search-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--dark);
  margin: 0;
}

.search-info {
  color: var(--dark-gray);
  margin: 32px 0 45px 0;
}

/*search-form-start*/

.button-search {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--light);
  background-color: var(--light-brown);
  padding: 30px 137px 30px 137px;
  border: none;
}

.button-search:hover {
  background-color: var(--brown);
}

.button-search:active {
  color: var(--bright);
  background-color: var(--dark-brown);
}

.search-form-wrapper {
  position: relative;
}

.search-form {
  position: absolute;
  top: 100%;
  width: 568px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light);
  box-shadow: 0 7px 15px var(--extra-light-black);
  box-sizing: border-box;
  padding: 55px;
}

.search-form-item {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.search-form-item input,
.search-form-control-number input {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 0;
  background-color: var(--extra-light);
}

.search-form-date {
  width: 346px;
  padding-left: 12px;
  box-sizing: border-box;
}

.search-form-button-calendar {
  position: absolute;
  top: 0;
  right: 0;
}

.search-form-date:hover,
.search-form-control-number-field:hover {
  background-color: var(--dark-light);
}

.search-form-date:focus,
.search-form-control-number-field:focus {
  background-color: var(--light);
  outline: 2px solid var(--bright-grey);
}

.search-form-groups {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.search-form-control-number {
  position: relative;
}

.search-form-control-number-field {
  text-align: center;
  box-sizing: border-box;
  padding-left: 18px;
  width: 114px;
}

.search-form-control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 38px;
  height: 38px;
  background-color: var(--extra-light);
  border: 0;
}

.search-form-item-adult {
  width: 225px;
}

.search-form-item-children {
  width: 180px;
}

.search-form-control-button:hover path {
  fill: var(--dark);
}

.search-form-control-button:active path {
  fill: var(--light-blue);
}

.search-form-control-button-minus {
  left: 0;
}

.search-form-control-button-plus {
  right: 0;
}

.search-form-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--light);
  background-color: var(--light-blue);
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
}

.search-map iframe {
  border: 0;
}

/*search-form-end*/

/*search end*/

/*footer start*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--dark);
  width: 1200px;
  text-align: center;
  background-color: var(--extra-bright);
  padding: 23px 55px 44px 55px;
  box-sizing: border-box;
}

.page-footer {
  position: absolute;
  bottom: 0;
}

.main-footer a {
  color: var(--dark);
}

.footer-address {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-address p {
  margin: 0;
}

.footer-address p + p {
  margin-top: 11px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list li:not(:last-child) {
  margin-right: 6px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
  color: inherit;
  position: relative;
}

.social-icon::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.social-icon:active::before {
  opacity: 0.3;
}

.social-icon-twitter::before {
  background-image: url("../img/icon-twitter.svg");
  width: 17px;
  height: 17px;
}

.social-icon-facebook::before {
  background-image: url("../img/icon-fb.svg");
  width: 12px;
  height: 22px;
}

.social-icon-youtube::before {
  background-image: url("../img/icon-youtube.svg");
  width: 20px;
  height: 16px;
}

.social-button:hover {
  background-color: var(--blue);
}

.social-button:active {
  background-color: var(--dark-blue);
}


.footer-copyright:hover .footer-copyright-icon path {
  fill: var(--light-blue);
}

.footer-copyright:active .footer-copyright-icon path {
  fill: var(--lighter-gray);
}

.footer-copyright span {
  display: inline-block;
  padding-top: 5px;
  margin-right: 6px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 4px;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

/*footer end*/

/* hotels */

.search-hotels {
  height: 217px;
  width: 1200px;
  background-image: url("../img/blur-sedona-filter.jpg");
  background-repeat: no-repeat;
}

/*filter-start*/
.filter {
  display: flex;
  flex-wrap: wrap;
  padding: 26px 72px 0 72px;
}

.filter fieldset:not(:last-child) {
  padding: 0;
  margin: 0;
  border: none;
  width: 255px;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: var(--light);
}

.filter ul {
  padding: 0;
  margin: 24px 0 0 0;
  list-style: none;
  line-height: 21px;
  color: var(--light);
}

.filter-container {
  margin-bottom: 26px;
}

.filter-container label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-checked.svg");
}

.filter-input-checkbox:disabled + label::before {
  width: 23px;
  background-image: url("../img/checkbox-disabled.svg");
}

.filter-input-checkbox:disabled:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-disabled-checked.svg");
}

.filter-price-container {
  margin-left: auto;
  padding: 0;
  border: none;
}

.filter-price-control {
  display: flex;
  padding: 5px 0;
  border: 2px solid var(--light);
  margin-top: 10px;
}

.filter-price-control label {
  color: var(--light);
  width: 156px;
  box-sizing: border-box;
}

.filter-price-control label:not(:first-child) {
  border-left: 2px solid var(--light);
}

.filter-price-control input {
  width: 100%;
  height: 22px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: var(--light);
  background-color: transparent;
  border: none;
  text-align: center;
}

.filter-price-range {
  position: relative;
  width: 316px;
  height: 2px;
  background-color: var(--bright);
  margin-top: 21px;
}

.filter-price-range-scale {
  width: 253px;
  height: 2px;
  background-color: var(--light);
}

.filter-price-range-min {
  position: absolute;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--pale-gray);
  border: 7px solid var(--light);
  border-radius: 10px;
  box-shadow: 0 2px var(--pale-gray);
}

.filter-price-range-max {
  position: absolute;
  transform: translate(253px, -50%);
  width: 4px;
  height: 4px;
  background-color: var(--pale-gray);
  border: 7px solid var(--light);
  border-radius: 10px;
  box-shadow: 0 2px var(--pale-gray);
}

.filter-price-range-max:hover,
.filter-price-range-min:hover {
  border: 9px solid var(--light);
  cursor: pointer;
}

.filter-price-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--light);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
  padding: 6px 35px 6px 31px;
  background: transparent;
  border: 2px solid var(--light);
}

.filter-price-button:hover {
  color: var(--dark);
  background-color: var(--light);
}

/*filter-end*/

.results {
  display: grid;
  background-color: var(--light);
}

.results-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 73px 36px 73px;
}

.results-block p {
  margin: 0;
  /*padding-right: 40px;*/
}

.results h2 {
  display: none;
}

.results-found {
  font-weight: 700;
  font-size: 21px;
  color: var(--dark);
}

.results-block p:not(:first-child) {
  font-size: 12px;
  padding-left: 47px;
  padding-right: 40px;
}

.results-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.results-list li:last-child {
  padding-left: 4px;
}

.results-item a {
  font-size: 12px;
  line-height: 18px;
  color: var(--light-black);
  text-decoration: none;
  border-bottom: 1px dotted var(--light-blue);
}

.results-item a:hover {
  color: var(--light-blue);
}

.results-item a:active {
  color: var(--dark);
  border-bottom: 0;
}

.results-item.current a {
  color: var(--light-blue);
  border-bottom: 0;
}

.hotels-sorting-list {
  margin-left: auto;
}

.hotels-sorting-list a {
  text-decoration: none;
}


.hotels-sorting-item:not(:last-child) {
  padding-right: 11px;
}

.hotels-sorting-item:hover path {
  fill: var(--dark);
}

.hotels-sorting-item:active path,
.hotels-sorting-item.current path {
  fill: var(--light-blue);
}

.hotels-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--dark-gray);
}

.hotels-item {
  display: grid;
  grid-template-columns: 135px 4fr 1fr;
  padding: 23px 73px 30px 73px;
  border-top: 1px solid var(--bright-grey);
}

.hotels-item:last-child {
  border-bottom: 1px solid var(--bright-grey);
}

.hotels-item-link {
  display: flex;
  align-items: flex-end;
}

.hotels-item-description {
  padding-left: 29px;
  padding-bottom: 4px;
}

.hotels-item-description h3 {
  margin: 0;
}

.hotels-item-description p {
  margin: 0;
}

.hotels-item-type {
  display: flex;
}

.hotels-item-type p {
  margin-top: 8px;
  margin-bottom: 18px;
}

.hotels-item-type-details {
  width: 116px;
  margin-right: 3px;
}

.hotels-item img {
  display: block;
}

.hotels-item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotels-item-title {
  color: var(--dark);
  text-decoration: none;
}

.hotels-item-title:hover {
  color: var(--light-blue);
}

.hotels-item-title:active {
  color: var(--light-black);
}

.hotels-item-details {
  padding: 4px 17px;
  margin-right: 2px;
  font-weight: 700;
  text-decoration: none;
  color: var(--light);
  background-color: var(--light-blue);
}

.hotels-item-details:hover {
  background-color: var(--blue);
}

.hotels-item-details:active {
  color: var(--bright);
  background-color: var(--dark-blue);
}

.hotels-item-booking {
  padding: 4px 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--light);
  background-color: var(--light-brown);
}

.hotels-item-booking:hover {
  background-color: var(--brown);
}

.hotels-item-booking:active {
  color: var(--bright);
  background-color: var(--dark-brown);
}

.hotels-item-rating {
  display: inline-block;
  padding: 3px 12px 3px 15px;
  color: var(--gray);
  background-color: var(--extra-light);
}

.hotels-rating {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotels-stars {
  background-image: url("../img/star-rating.svg");
  background-repeat: space;
  height: 17px;
  margin-top: 5px;
}

.hotels-stars-one {
  width: 19px;
}

.hotels-stars-two {
  width: 43px;
}

.hotels-stars-three {
  width: 67px;
}

.hotels-stars-four {
  width: 91px;
}

.hotels-stars-five {
  width: 115px;
}

