:root {
  --light-blue: #81B3D2;
  --blue: #669EC0;
  --dark-blue: #5496bd;

  --extra-light-brown: #766357;
  --light-brown: #766357;
  --brown: #604E43;
  --dark-brown: #503E33;

  --dark: #000000;
  --light-black: rgba(0, 0, 0, 0.3);
  --lighter-black: rgba(0, 1, 1, 0.2);
  --extra-light-black: rgba(0, 1, 1, 0.15);
  --dark-gray: #333333;
  --gray: #666666;
  --bright: rgba(255, 255, 255, 0.3);
  --light-gray: #888888;
  --lighter-gray: #BDBBBC;
  --extra-light-gray: #EEEEEE;
  --bright-grey: #E5E5E5;
  --light: #FFFFFF;
  --extra-light: #F2F2F2;
  --extra-bright: rgba(255, 255, 255, 0.9);


}

body {
  min-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.page {
  height: 100%;
}

.page-body {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--extra-light);
}

.body-wrapper {
  box-shadow: 0 5px 15px var(--lighter-black);
  width: 1280px;
}

.main-navigation a,
.footer-phone,
.social-button a,
.footer-logo a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: var(--light);
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  color: var(--dark);
}

.main-header-logo {
  position: absolute;
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style: none;
  margin: 0 57px;
  padding: 0;
}


.navigation-narrow {
  flex-grow: 1;
}

.navigation-wide {
  flex-grow: 2;
}

.site-navigation-left {
  text-align: left;
}

.site-navigation-right {
  text-align: right;
}

.site-navigation a {
  color: var(--dark);
  display: block;
  padding: 15px 20px;
}

.site-navigation a:hover {
  color: var(--light-blue);
}

.site-navigation a:active {
  color: var(--light-black);
}

.site-navigation a.current {
  color: var(--extra-light-brown);
}

.main-photo-sedona {
  display: grid;
  background-image: url("../img/photo-sedona.jpg");
  background-repeat: no-repeat;
  height: 509px;
  position: relative;
}

.main-photo-sedona::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 57px;
  width: 100%;
  background-image: url("../img/shape-sedona.svg");
}

.main-photo-sedona img {
  width: 456px;
  margin: auto;
}

/*features start*/

.features {
  display: grid;
  text-align: center;
  background-color: var(--light);
}

.features h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--dark);
  margin-top: 42px;
  margin-bottom: 46px;
}

.features p {
  color: var(--dark-gray);
  margin: 0;
}

.features-list {
  width: 1200px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 256px auto;
  margin: 0;
  padding: 55px 0 0 0;
}

.feature-item-city {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;
}

.feature-item-bridge {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.main-feature-item {
  background-color: var(--light-blue);
}

.main-feature-item h2 {
  font-weight: 700;
  font-size: 21px;
  color: var(--light);
}

.main-feature-item-description {
  padding-top: 48px;
}

.main-feature-item-description h2 {
  margin: 0;
}

.main-feature-item-description p {
  color: var(--light);
  margin: 26px 50px;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / -1;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

.service-item {
  display: grid;
  position: relative;
  padding-top: 160px;
  padding-bottom: 83px;
}

.service-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--dark);
  margin: 0;
  padding-bottom: 25px;
}

.service-item::before {
  content: "";
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.service-item-home::before {
  background-image: url("../img/icon-house.svg");
  width: 75px;
  height: 72px;
}

.service-item-food::before {
  background-image: url("../img/icon-food.svg");
  width: 75px;
  height: 70px;
}

.service-item-gifts::before {
  background-image: url("../img/icon-gifts.svg");
  width: 64px;
  height: 77px;
}

.description {
  color: var(--dark-gray);
}

.feature-item {
  text-align: center;
  background-color: var(--extra-light-gray);
  padding: 47px 0 54px 0;
}

.description + .description {
  margin: 23px 0 0 0;
}

.feature-item h2 {
  font-weight: 700;
  font-size: 21px;
  color: var(--dark);
  margin: 0 0 28px 0;
}

/*features end*/

/*search start*/

.search {
  text-align: center;
  line-height: 24px;
  padding: 56px 0 0 0;
  background-color: var(--light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-hotels h2 {
  display: none;
}

.search-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--dark);
  margin: 0;
}

.search-info {
  color: var(--dark-gray);
  margin: 32px 0 45px 0;
}

.button-search {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--light);
  background-color: var(--light-brown);
  padding: 27px 137px 30px 137px;
  border: none;
}

.button-search:hover {
  background-color: var(--brown);
}

.button-search:active {
  color: var(--bright);
  background-color: var(--dark-brown);
}

.search-form-wrapper {
  position: relative;
}

.search-form {
  position: absolute;
  top: 100%;
  width: 568px;
  height: 395px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: var(--light);
  box-shadow: 0 7px 15px var(--extra-light-black);
}

.button-search-form {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--light);
  background-color: var(--light-blue);
  padding: 16px 182px 16px 182px;
  border: none;
}

.search-map img {
  display: block;
}

/*search end*/

/*footer start*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--dark);
  width: 1200px;
  text-align: center;
  background-color: var(--extra-bright);
  padding-top: 23px;
  padding-bottom: 36px;
}

.page-footer {
  position: absolute;
  bottom: 0;
}

.main-footer a {
  color: var(--dark);
}

.footer-address {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding-left: 50px;
}

.footer-address p {
  margin: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 125px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--light-blue);
  color: inherit;
}

.social-button:hover {
  background-color: var(--blue);
}

.social-button:focus {
  background-color: var(--dark-blue);
}

.social-button:focus path {
  fill: var(--bright);
}

.footer-logo {
  padding-right: 80px;
}

.footer-copyright:hover .footer-copyright-icon path {
  fill: var(--light-blue);
}

.footer-copyright:active .footer-copyright-icon path {
  fill: var(--lighter-gray);
}

.footer-copyright span {
  margin-right: 10px;
}

/*footer end*/

/* hotels */

.search-hotels {
  height: 217px;
  width: 1200px;
  background-image: url("../img/blur-sedona-filter.jpg");
  background-repeat: no-repeat;
}

.results {
  display: grid;
  background-color: var(--light);
}

.results-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 73px 35px 73px;
}

.results-block p {
  margin: 0;
  padding-right: 40px;
}

.results h2 {
  display: none;
}

.results-found {
  font-weight: 700;
  font-size: 21px;
  color: var(--dark);
}

.results-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.results-item a {
  font-size: 12px;
  line-height: 18px;
  color: var(--light-black);
  text-decoration: none;
  border-bottom: 1px dotted var(--light-blue);
}

.results-item a:hover {
  color: var(--light-blue);
}

.results-item a:active {
  color: var(--dark);
  border-bottom: 0;
}

.results-item.current a {
  color: var(--light-blue);
  border-bottom: 0;
}

.hotels-sorting-list {
  margin-left: auto;
}

.hotels-sorting-list a {
  text-decoration: none;
}

.hotels-sorting-item:not(:last-child) {
  padding-right: 12px;
}

.hotels-sorting-item:hover path {
  fill: var(--dark);
}

.hotels-sorting-item:active path,
.hotels-sorting-item.current path {
  fill: var(--light-blue);
}

.hotels-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--dark-gray);
}

.hotels-item {
  display: grid;
  grid-template-columns: 135px 4fr 1fr;
  padding: 24px 73px 28px 73px;
  border-top: 1px solid var(--bright-grey);
}

.hotels-item:last-child {
  border-bottom: 1px solid var(--bright-grey);
}

.hotels-item-link {
  display: flex;
  align-items: flex-end;
}

.hotels-item-description {
  padding-left: 29px;
}

.hotels-item-description h3 {
  margin: 0;
}

.hotels-item-description p {
  margin: 0;
}

.hotels-item-type {
  display: flex;
}

.hotels-item-type p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.hotels-item-type-details {
  width: 110px;
  margin-right: 3px;
}

.hotels-item img {
  display: block;
}

.hotels-item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotels-item-title {
  color: var(--dark);
  text-decoration: none;
}

.hotels-item-title:hover {
  color: var(--light-blue);
}

.hotels-item-title:active {
  color: var(--light-black);
}

.hotels-item-details {
  padding: 3px 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--light);
  background-color: var(--light-blue);
}

.hotels-item-details:hover {
  background-color: var(--blue);
}

.hotels-item-details:active {
  color: var(--bright);
  background-color: var(--dark-blue);
}

.hotels-item-booking {
  padding: 3px 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--light);
  background-color: var(--light-brown);
}

.hotels-item-booking:hover {
  background-color: var(--brown);
}

.hotels-item-booking:active {
  color: var(--bright);
  background-color: var(--dark-brown);
}

.hotels-item-rating {
  display: inline-block;
  padding: 3px 12px 3px 15px;
  color: var(--gray);
  background-color: var(--extra-light);
}

.hotels-rating {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotels-rating-star-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hotels-rating-star-list svg + svg {
  margin-left: 6px;
}

