:root {
  --light-blue: #81B3D2;
  --blue: #669EC0;
  --dark-blue: #5496bd;

  --extra-light-brown: #766357;
  --light-brown: #766357;
  --brown: #604E43;
  --dark-brown: #503E33;

  --dark: #000000;
  --light-black: rgba(0, 0, 0, 0.3);
  --dark-gray: #333333;
  --gray: #666666;
  --bright: rgba(255, 255, 255, 0.3);
  --light-gray: #888888;
  --extra-light-gray: #EEEEEE;
  --light: #FFFFFF;
  --extra-light: #F2F2F2;
  --extra-bright: rgba(255, 255, 255, 0.9);

}

body {
  min-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.page {
  height: 100%;
}

.page-body {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-navigation a,
.footer-phone,
.social-button a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1200px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
  color: var(--dark);
}

.main-header-logo {
  position: absolute;
  z-index: 1;
}

.site-navigation {
  display: flex;
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 15px 72px 15px 72px;
}

.site-navigation li {
  width: 25%;
}

.site-navigation-left {
  text-align: left;
}

.site-navigation-right {
  text-align: right;
}

.site-navigation a {
  color: var(--dark);
}

.site-navigation a:hover {
  color: var(--light-blue);
}

.site-navigation a:active {
  color: var(--light-black);
}

.site-navigation a.current {
  color: var(--extra-light-brown);
}

.container {
  width: 1200px;
  margin: 0 auto;
  justify-self: center;
}

.features {
  display: grid;
  text-align: center;
}

.features h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--dark);
}

.features p {
  line-height: 26px;
  color: var(--dark-gray);
}

.features-list {
  width: 1200px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 256px auto;
  margin: 0;
  padding: 51px 0 0 0;
}

.feature-item-city {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;
}

.feature-item-bridge {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.main-feature-item {
  text-align: center;
  margin: 0 auto;
  background-color: var(--light-blue);
}

.main-feature-item h2 {
  font-weight: 700;
  font-size: 21px;
  color: var(--light);
}

.main-feature-item-description p {
  color: var(--light);
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / -1;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

.service-item {
  display: grid;
}

.service-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--dark);
}

.description {
  color: var(--dark-gray);
  margin: 0 10px 82px 10px;
}

.feature-item {
  text-align: center;
  background-color: var(--extra-light-gray);
}

.feature-item h2 {
  font-weight: 700;
  font-size: 21px;
  color: var(--dark);
}

.search {
  text-align: center;
}

.search-hotels h2 {
  display: none;
}

.search-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--dark);
}

.search-info {
  color: var(--dark-gray);
}

.button-search {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--light);
  background-color: var(--light-brown);
}

.button-search:hover {
  background-color: var(--brown);
}

.button-search:active {
  color: var(--bright);
  background-color: var(--dark-brown);
}

.main-footer {
  display: flex;
  width: 1200px;
  justify-self: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--dark);
  text-align: center;
  background-color: var(--extra-bright);
}

.page-footer {
  position: absolute;
  bottom: 0;
}

.main-footer a {
  color: var(--dark);

}

.social-list {
  list-style: none;
  margin: 0;
  padding: 20px 190px 20px 125px;
}

.footer-address {
  padding: 5px 100px;
}

.footer-logo {
  padding: 15px;
}

.footer-copyright {
  line-height: 26px;
  color: var(--dark);
}

/* hotels */

.search-hotels {
  height: 217px;
}

.hidden {
  display: none;
}

.results {
  display: grid;
}

.results-block {
  display: flex;
  padding: 30px 73px;
}

.results-block p {
  margin: 0;
  padding-right: 40px;
}

.results-block a {
  padding-left: 20px;
}

.results h2 {
  display: none;
}

.results-found {
  font-weight: 700;
  font-size: 21px;
  color: var(--dark);
}

.results-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.results-item a {
  font-size: 12px;
  line-height: 18px;
  color: var(--light-black);
  text-decoration: none;
}

.results-item a:hover {
  color: var(--light-blue);
}

.results-item a:active {
  color: var(--dark);
}

.hotels-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--dark-gray);
}

.hotels-item {
  display: grid;
  grid-template-columns: 135px 4fr 1fr;
  padding: 30px 73px;
  align-items: end;
}
.hotels-item-description {
  padding-left: 29px;
}

.hotels-item-description h3 {
  margin: 0;
}

.hotels-item-description p {
  margin: 0;
}

.hotels-item-type {
  display: flex;
}

.hotels-item-type p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.hotels-item-type-details {
  width: 110px;
  margin-right: 3px;
}

.hotels-item img {
  display: block;
}

.hotels-item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.hotels-item-title {
  color: var(--dark);
  text-decoration: none;
}

.hotels-item-title:hover {
  color: var(--light-blue);
}

.hotels-item-title:active {
  color: var(--light-black);
}

.hotels-item-details {
  padding: 3px 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--light);
  background-color: var(--light-blue);
}

.hotels-item-details:hover {
  background-color: var(--blue);
}

.hotels-item-details:active {
  color: var(--bright);
  background-color: var(--dark-blue);
}

.hotels-item-booking {
  padding: 3px 16px;
  font-weight: 700;
  text-decoration: none;
  color: var(--light);
  background-color: var(--light-brown);
}

.hotels-item-booking:hover {
  background-color: var(--brown);
}

.hotels-item-booking:active {
  color: var(--bright);
  background-color: var(--dark-brown);
}

.hotels-item-rating {
  color: var(--gray);
  background-color: var(--extra-light);

}

